@page
@model IndexModel

<div class="text-center">

    <h1>Adem Koylu</h1>

    <h3>Senior Platform & Cloud Engineer</h3>

    <div style="margin-top:20px;">

       <h3>🚀 Release v7 — This guy ships.</h3>

       <p>❤️ Kubernetes Health Checks Enabled</p>

    </div>
    <div style="margin-top:20px;">
       <h3>⚙️ Runtime Configuration</h3>
       <p>@Model.WelcomeMessage</p>
       <p>📫 Contact: @Model.ContactEmail</p>

    </div>

    <p>
        Azure | Kubernetes | Automation | Infrastructure
    </p>

    <br/>

    <h4>What I Build</h4>

    <p>✔ Kubernetes Platforms</p>
    <p>✔ Cloud Infrastructure</p>
    <p>✔ Automation Pipelines</p>
    <p>✔ Enterprise Operations</p>

    <br/>

    <p>
        GitHub:
        <a href="https://github.com/adamovick">
            adamovick
        </a>
    </p>

    <p>
        Built with ASP.NET + Docker + Kubernetes
    </p>

</div>