@page
@model IndexModel

<h1>Kral Blog 😄</h1>

<form method="post">
    <input asp-for="Name" placeholder="isim gir" />

    <button type="submit">
        Kaydet
    </button>
</form>

<hr />

<h2>Kayıtlar</h2>

<ul>
@foreach (var person in Model.Persons)
{
    <li>@person.Id - @person.Name</li>
}
</ul>